# **Pandas II** : Exploración y manipulación

In [2]:
import numpy as np
import pandas as pd

In [3]:
df_aviones = pd.read_csv('data/dataset_aviones.csv', index_col = "Id_vuelo")

### **Exploración inical**

Para ver las primeras filas del data set: `.head()`

In [4]:
df_aviones.head(5)

,Aircompany,Origen,Destino,Distancia,avion,con_escala,consumo_kg,duracion,ingresos
Id_vuelo,,,,,,,,,
Air_PaGi_10737,Airnar,París,Ginebra,411,Boeing 737,False,1028.691900,51,14232.65
Fly_BaRo_10737,FlyQ,Bali,Roma,12738,Boeing 737,True,33479.132544,1167,468527.19
Tab_GiLo_11380,TabarAir,Ginebra,Los Angeles,9103,Airbus A380,False,109439.907200,626,584789.19
Mol_PaCi_10737,MoldaviAir,París,Cincinnati,6370,Boeing 737,False,17027.010000,503,233342.51
Tab_CiRo_10747,TabarAir,Cincinnati,Roma,7480,Boeing 747,False,86115.744000,518,438535.07

Para ver las últimas: `.tail()`

In [5]:
df_aviones.tail(3)

,Aircompany,Origen,Destino,Distancia,avion,con_escala,consumo_kg,duracion,ingresos
Id_vuelo,,,,,,,,,
Fly_RoCi_11320,FlyQ,Roma,Cincinnati,7480,Airbus A320,True,19721.04992,662,285377.03
Tab_RoLo_10747,TabarAir,Roma,Londres,1433,Boeing 747,False,15734.05340,115,86373.94
Air_PaLo_10737,Airnar,París,Los Angeles,9099,Boeing 737,False,22331.67570,711,317996.77

Para ver el total de filas: `Len()`

In [6]:
len(df_aviones)

1200

Para ver todas las columnas: `.colums`

In [7]:
df_aviones.columns

Index(['Aircompany', 'Origen', 'Destino', 'Distancia', 'avion', 'con_escala',
       'consumo_kg', 'duracion', 'ingresos'],
      dtype='object')

Para ver una descripción matemática básica de los valores **numéricos**: `.describe()`

In [8]:
df_aviones.describe()

          Distancia     consumo_kg     duracion      ingresos
count   1200.000000    1200.000000  1200.000000  1.200000e+03
mean    8231.710000   68736.758895   651.153333  4.248612e+05
std     5567.286768   67605.206302   454.035184  3.184731e+05
min      344.000000     835.920000    42.000000  1.169364e+04
25%     3073.000000   15733.520400   224.000000  1.586815e+05
50%     6969.000000   38315.157192   572.000000  3.853903e+05
75%    12738.000000  120858.499500  1053.000000  6.899085e+05
max    20029.000000  264876.314560  1721.000000  1.295516e+06

+ **count:** Cuantos valores válidos (no nulos) hay.
+ **mean:** La media.
+ **std:** desviación estandar
+ **min:** Valor mínimo
+ **25%, 50%, 75%:** Cuantos de los valores se encuentran por debajo del percentil.
+ **max:** Valor máximo

In [9]:
df_aviones.dtypes #---> muestra una descripción del tipo de datos en cada columna

Aircompany     object
Origen         object
Destino        object
Distancia       int64
avion          object
con_escala       bool
consumo_kg    float64
duracion        int64
ingresos      float64
dtype: object

Para ver una **descripción más específica** del contenido: `.info()`

In [10]:
df_aviones.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1200 entries, Air_PaGi_10737 to Air_PaLo_10737
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Aircompany  1200 non-null   object
 1   Origen      1200 non-null   object
 2   Destino     1200 non-null   object
 3   Distancia   1200 non-null   int64
 4   avion       1200 non-null   object
 5   con_escala  1200 non-null   bool
 6   consumo_kg  1200 non-null   float64
 7   duracion    1200 non-null   int64
 8   ingresos    1200 non-null   float64
dtypes: bool(1), float64(2), int64(2), object(4)
memory usage: 85.5+ KB

#### **Acceder a más información de las columnas:**

Con el método `.unique()` podemos ver cuales son los valores únicos tiene:

In [11]:
df_aviones["Aircompany"].unique()

array(['Airnar', 'FlyQ', 'TabarAir', 'MoldaviAir', 'PamPangea'],
      dtype=object)

Para ver como se distribuyen el total de esos valores se utiliza el método `.value_counts()`

In [12]:
df_aviones["Aircompany"].value_counts()

Aircompany
TabarAir      271
MoldaviAir    264
PamPangea     231
Airnar        218
FlyQ          216
Name: count, dtype: int64

Para **añadir columnas nuevas** utilizar el método de acceso como diccionario (entre corchetes).

In [13]:
df_aviones["Consumo por Km"] = df_aviones["consumo_kg"] / df_aviones["Distancia"]
df_aviones.head(2)

,Aircompany,Origen,Destino,Distancia,avion,con_escala,consumo_kg,duracion,ingresos,Consumo por Km
Id_vuelo,,,,,,,,,,
Air_PaGi_10737,Airnar,París,Ginebra,411,Boeing 737,False,1028.691900,51,14232.65,2.502900
Fly_BaRo_10737,FlyQ,Bali,Roma,12738,Boeing 737,True,33479.132544,1167,468527.19,2.628288

#### **Cambiar el nombre de las columnas:**

`.rename(columns = {"nombre a cambiar" : "nombre cambiado"})`  
Este método no cambia el DataFrame original, para que los cambios sean permanentes hay que añadir el argumento `inplace = True`.  
`.rename(columns = {"nombre a cambiar" : "nombre cambiado"}, inplace = True)`.  
Otra opción es reasignarlo a otra variable:  
`new_df_aviones = df_aviones.rename(columns = {"nombre a cambiar" : "nombre cambiado"})`

In [14]:
df_aviones.rename(columns = {"avion" : "Avion", "con_escala" : "Escala",
                   "duracion" : "Duración", "ingresos" : "Ingresos",
                   "Consumo por Km" : "Consumo/Km", "consumo_kg" : "Consumo Kg"
                  }, inplace = True)

In [15]:
df_aviones.head(1)

,Aircompany,Origen,Destino,Distancia,Avion,Escala,Consumo Kg,Duración,Ingresos,Consumo/Km
Id_vuelo,,,,,,,,,,
Air_PaGi_10737,Airnar,París,Ginebra,411,Boeing 737,False,1028.6919,51,14232.65,2.5029

Algunos método de utilidad: valor máximo: `.max()`, valor mínimo: `.min()`, la media: `.mean()`

In [16]:
# Cual es la mayor distancia recorrida
print(df_aviones["Distancia"].max())
# Cual es el menor consumo
print(df_aviones["Distancia"].min())
# Cuanta distancia se han recorrido en los 1200 vuelos
print(df_aviones["Distancia"].sum())
# Cual es la media recorrida por estos viajes
print(df_aviones["Distancia"].mean())

20029
344
9878052
8231.71

In [17]:
# Cual es el viaje con menor consumo
viaje = df_aviones["Consumo Kg"].idxmin()
viaje

'Mol_PaLo_10737'

In [18]:
df_aviones.loc[viaje]

,Aircompany,Origen,Destino,Distancia,Avion,Escala,Consumo Kg,Duración,Ingresos,Consumo/Km
Id_vuelo,,,,,,,,,,
Mol_PaLo_10737,MoldaviAir,París,Londres,344,Boeing 737,False,835.9200,46,11797.85,2.4300
Mol_PaLo_10737,MoldaviAir,París,Londres,344,Boeing 737,False,911.1528,46,12372.41,2.6487
Mol_PaLo_10737,MoldaviAir,París,Londres,344,Boeing 737,False,852.6384,46,11693.64,2.4786

In [19]:
#Para ver el único:
df_aviones.loc[viaje, "Avion"].unique()

array(['Boeing 737'], dtype=object)

Las siguientes agregaciones vienen con el paquete de Pandas:

| Agregación              | Descripción                     |
|--------------------------|---------------------------------|
| ``count()``              | Número total de elementos          |
| ``first()``, ``last()``  | Primer y último elemento             |
| ``mean()``, ``median()`` | Media y mediana                 |
| ``min()``, ``max()``     | Mínimo y máximo             |
| ``std()``, ``var()``     | Desviación estándar y varianza |
| ``mad()``                | Desviación media absoluta         |
| ``prod()``               | Producto de todos los elementos            |
| ``sum()``                | Suma de todos los elementos               |

Todos están presentes como objetos de ``Dataframe`` y ``Series``.

### **Filtar y seleccionar filas**

In [20]:
# Seleccionar los viajes de la compañía con menor nº de vuelos:
df_aviones["Aircompany"].value_counts()

Aircompany
TabarAir      271
MoldaviAir    264
PamPangea     231
Airnar        218
FlyQ          216
Name: count, dtype: int64

In [21]:
viajes = df_aviones.loc[df_aviones["Aircompany"] == "FlyQ"]
viajes.head(2)

,Aircompany,Origen,Destino,Distancia,Avion,Escala,Consumo Kg,Duración,Ingresos,Consumo/Km
Id_vuelo,,,,,,,,,,
Fly_BaRo_10737,FlyQ,Bali,Roma,12738,Boeing 737,True,33479.132544,1167,468527.19,2.628288
Fly_RoNu_11320,FlyQ,Roma,Nueva York,6877,Airbus A320,True,18131.238008,618,273824.24,2.636504

#### **Para mantener la estructura del dataframe:**

In [22]:

df_aviones.where(df_aviones["Aircompany"] == "FlyQ").head(3)

,Aircompany,Origen,Destino,Distancia,Avion,Escala,Consumo Kg,Duración,Ingresos,Consumo/Km
Id_vuelo,,,,,,,,,,
Air_PaGi_10737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fly_BaRo_10737,FlyQ,Bali,Roma,12738.0,Boeing 737,True,33479.132544,1167.0,468527.19,2.628288
Tab_GiLo_11380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Para cambiar `NaN` por otro valor:

In [23]:
df_aviones.where(df_aviones["Aircompany"] == "FlyQ", "No usar").head(3)

,Aircompany,Origen,Destino,Distancia,Avion,Escala,Consumo Kg,Duración,Ingresos,Consumo/Km
Id_vuelo,,,,,,,,,,
Air_PaGi_10737,No usar,No usar,No usar,No usar,No usar,No usar,No usar,No usar,No usar,No usar
Fly_BaRo_10737,FlyQ,Bali,Roma,12738,Boeing 737,True,33479.132544,1167,468527.19,2.628288
Tab_GiLo_11380,No usar,No usar,No usar,No usar,No usar,No usar,No usar,No usar,No usar,No usar

In [24]:
# Quiero quedarme con los vuelos de los A380 de más de 10000 km de distancia con destino a Melbourne
vuelos_A380 = df_aviones["Avion"] == "Airbus A380"
mayor_10km = df_aviones["Distancia"] > 10000
a_melbourne = df_aviones["Destino"] == "Melbourne"
condicion = vuelos_A380 & mayor_10km & a_melbourne
df_aviones[condicion].head(3)

,Aircompany,Origen,Destino,Distancia,Avion,Escala,Consumo Kg,Duración,Ingresos,Consumo/Km
Id_vuelo,,,,,,,,,,
Pam_PaMe_11380,PamPangea,París,Melbourne,16925,Airbus A380,True,217722.65840,1328,1056735.47,12.863968
Mol_LoMe_11380,MoldaviAir,Londres,Melbourne,16900,Airbus A380,True,213337.48800,1326,1092709.68,12.623520
Mol_CaMe_11380,MoldaviAir,Cádiz,Melbourne,20029,Airbus A380,True,264876.31456,1535,1256717.99,13.224640

Para los condicionales en lo que se compara son `Series` se usa `&` en vez de `and` y `|` en vez de `or`

### **Filtar todo el DataFrame**

In [25]:
np.random.seed(1)
df_test = pd.DataFrame(np.random.randint(0,10,(4,3)), columns = ["Protones", "Neutrones", "Quarks"])
df_test

   Protones  Neutrones  Quarks
0         5          8       9
1         5          0       0
2         1          7       6
3         9          2       4

In [26]:
df_test[df_test < 6]

   Protones  Neutrones  Quarks
0       5.0        NaN     NaN
1       5.0        0.0     0.0
2       1.0        NaN     NaN
3       NaN        2.0     4.0

In [27]:
df_test.where(df_test < 6, "no usar")

  Protones Neutrones   Quarks
0        5   no usar  no usar
1        5         0        0
2        1   no usar  no usar
3  no usar         2        4

Se pueden usar bucles junto a los métodos anteriores para obtener valores específicos:

In [28]:
# Mayor distancia por compañía
for company in df_aviones["Aircompany"].unique():   #---> Dá los valores únicos de compañías.
    distancia_max = df_aviones.loc[df_aviones["Aircompany"] == company, "Distancia"].max()  #-----> Filtra cada compañía aérea por su distáncia máxima
    print(f"La mayor distancia cubierta por la compañía{company} es de {distancia_max} Km")

La mayor distancia cubierta por la compañíaAirnar es de 15011 Km
La mayor distancia cubierta por la compañíaFlyQ es de 16589 Km
La mayor distancia cubierta por la compañíaTabarAir es de 10077 Km
La mayor distancia cubierta por la compañíaMoldaviAir es de 20029 Km
La mayor distancia cubierta por la compañíaPamPangea es de 16925 Km

In [30]:
# Cuántos aviones usan de cada tipo en cada compañía
for company in df_aviones["Aircompany"].unique():
    print(f"La distribución de uso por tipo de avion para la compañía {company} es:")
    print(df_aviones.loc[df_aviones.Aircompany == company, "Avion"].value_counts())

La distribución de uso por tipo de avion para la compañía Airnar es:
Avion
Boeing 747     68
Airbus A380    64
Boeing 737     49
Airbus A320    37
Name: count, dtype: int64
La distribución de uso por tipo de avion para la compañía FlyQ es:
Avion
Boeing 747     67
Airbus A380    61
Boeing 737     54
Airbus A320    34
Name: count, dtype: int64
La distribución de uso por tipo de avion para la compañía TabarAir es:
Avion
Boeing 747     77
Airbus A380    71
Boeing 737     62
Airbus A320    61
Name: count, dtype: int64
La distribución de uso por tipo de avion para la compañía MoldaviAir es:
Avion
Boeing 737     84
Airbus A380    74
Boeing 747     71
Airbus A320    35
Name: count, dtype: int64
La distribución de uso por tipo de avion para la compañía PamPangea es:
Avion
Airbus A380    73
Boeing 737     66
Boeing 747     61
Airbus A320    31
Name: count, dtype: int64

In [32]:
# Cuántos vuelos hay a Ginebra
condicion = df_aviones.Destino == "Ginebra"
print("Hay",len(df_aviones.loc[condicion]),"vuelos con destino a Ginebra")
# Cómo se distribuyen los origenes de los vuelos anteriores
df_aviones.loc[condicion, "Origen"].value_counts()

Hay 163 vuelos con destino a Ginebra

Origen
Bali           32
Nueva York     29
Londres        21
Cincinnati     17
Los Angeles    17
París          15
Melbourne      10
Barcelona       8
Roma            7
Cádiz           7
Name: count, dtype: int64

### **Manipulaciónd del DataFrame**

Supongamos que nos avisan de que los datos de TabarAir son erróneos porque para los vuelos a Los Angeles en realidad son a San Francisco.

In [41]:
es_TabarAir = df_aviones["Aircompany"] == "TabarAir" # --> Primera condición: La compañía
a_LosAngeles = df_aviones["Destino"] == "Los Angeles" #--> Segunda condición: El destino
df_aviones.loc[es_TabarAir & a_LosAngeles, "Destino"] = "San Francisco"  #---> Aplicar el filtro, despues de la condición se selecciona lo que hay que cambiar, el destino
df_aviones.head(3)

,Aircompany,Origen,Destino,Distancia,Avion,Escala,Consumo Kg,Duración,Ingresos,Consumo/Km,Super trayectos
Id_vuelo,,,,,,,,,,,
Air_PaGi_10737,Airnar,París,Ginebra,411,Boeing 737,False,1028.691900,51,14232.65,2.502900,False
Fly_BaRo_10737,FlyQ,Bali,Roma,12738,Boeing 737,True,33479.132544,1167,468527.19,2.628288,True
Tab_GiLo_11380,TabarAir,Ginebra,San Francisco,9103,Airbus A380,False,109439.907200,626,584789.19,12.022400,False

Y ahora nos dicen que creemos una columna nueva "Supertrayectos" que debe ser True cuando el trayecto es mayor de 12000Km y False en caso contrario

In [40]:
# Creandolo con un filtro/Selección
df_aviones["Super trayectos"] = False  #---> Inicializar con un valor y luego cambiarlo para evitar movidas
df_aviones.loc[df_aviones["Distancia"] > 12000, "Super trayectos"] = True
df_aviones.head(3)

,Aircompany,Origen,Destino,Distancia,Avion,Escala,Consumo Kg,Duración,Ingresos,Consumo/Km,Super trayectos
Id_vuelo,,,,,,,,,,,
Air_PaGi_10737,Airnar,París,Ginebra,411,Boeing 737,False,1028.691900,51,14232.65,2.502900,False
Fly_BaRo_10737,FlyQ,Bali,Roma,12738,Boeing 737,True,33479.132544,1167,468527.19,2.628288,True
Tab_GiLo_11380,TabarAir,Ginebra,San Francisco,9103,Airbus A380,False,109439.907200,626,584789.19,12.022400,False

In [43]:
df_aviones.loc[df_aviones["Super trayectos"], "Destino"].value_counts() #---> filtrar cuanto vuelos cumplen la condición

Destino
Bali           114
Melbourne       68
Londres         47
Ginebra         42
Cincinnati      36
Cádiz           22
París           19
Nueva York      18
Roma            16
Barcelona        7
Los Angeles      3
Name: count, dtype: int64