# **Introducción Data Analisy**

## ETL: TIPOS DE DATOS

In [2]:
import pandas as pd
import random 
df_datos = pd.read_csv("./data/dataset_ETL_full_aviones.csv")

In [4]:
df_datos.head(5)

,Aircompany,Origen,Destino,Distancia,avion,con_escala,consumo_kg,duracion,ingresos,Id_vuelo,IC,Categoria_IC,Incidencias,Hora_Vuelo
0,Airnar,París,Ginebra,411,Boeing 737,False,1028.691900,51,14232.65,Air_PaGi_10737,2.502900,A,Ave impacta con el avión,23:00 19/04/2023
1,FlyQ,Bali,Roma,12738,Boeing 737,True,33479.132544,1167,468527.19,Fly_BaRo_10737,2.628288,A,Sin incidencias,21:15 01/06/2023
2,TabarAir,Ginebra,Los Angeles,9103,Airbus A380,False,109439.907200,626,584789.19,Tab_GiLo_11380,12.022400,C,Amenaza de seguridad a bordo,10:30 26/03/2023
3,MoldaviAir,París,Cincinnati,6370,Boeing 737,False,17027.010000,503,233342.51,Mol_PaCi_10737,2.673000,A,Sin incidencias,22:00 01/09/2023
4,TabarAir,Cincinnati,Roma,7480,Boeing 747,False,86115.744000,518,438535.07,Tab_CiRo_10747,11.512800,C,Amenaza de seguridad a bordo,15:30 16/02/2023

El proceso para que pensemos en clasificar un dato, columna o característica como categórica (además de que nos lo digan exprofeso) es el de calcular la cardinalidad:

$$Cardinalidad(<Columna/Característica>) = \dfrac{NúmerodeValoresUnicos(<Columna/Característica>)}{NúmeroTotalDeRegistros}* 100\%$$

Por ejemplo, la cardinalidad para Categoria_IC

In [3]:
cardinalidad_IC = len(df_datos["Categoria_IC"].unique())/len(df_datos) * 100
print(cardinalidad_IC)

0.2572898799313894

La de Destino (empleando el método de pandas, `nunique`):

In [5]:
cardinalidad_IC = df_datos["Categoria_IC"].nunique()/len(df_datos) * 100
print(cardinalidad_IC)

0.2572898799313894

Menos del 1%, compara ahora con la de los valores numéricos:

In [7]:
cardinalidad_consumo = df_datos["consumo_kg"].nunique()/len(df_datos) * 100
print(cardinalidad_consumo)

71.09777015437393

Con cardinalidades por debajo del 5-10% ya podríamos considerar el valor o columna como categórico. ¿Y eso por qué es importante? Por dos motivos principales:
1. Para el EDA: Suponen, en general, interesantes columnas o características para hacer agrupaciones y explorarlas 
2. Para Machine y Deep learnnig: Existen métodos de transformación a números bastante potentes y utilizados, por lo que suelen ser buenas características para incluir